<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OOOH - OOO Heaper</title>

  
  <!-- ... -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script type="text/javascript" src="js/jquery.simple-dtpicker.js"></script>
  <script src='js/script.js'></script>
  <link rel="stylesheet" href="css/jquery.simple-dtpicker.css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
    <h2><i>OOOH!</i></h2>
    <h4>OOO Heaper</h4>
    <p>Here's  a quick tool for looking up OOO dates automatically from the Exchange server.</p>
    <div class='input_area'>
        <div class='row'>
          <div class='label'>Start date:</div>
          <div class='inputWpr'><input size="16" type="text" class="form_datetime_start date"  placeholder="Start Date" /> To <input size="16" type="text" class="form_datetime_end date" placeholder="End Date" /></div>
        </div>
         <div class='row'>
          <div class='label'>Email:</div>
          <div class='inputWpr'><input size="16" type="text" class="email" placeholder="Email" /></div>
        </div>
        <div class='row'>
          <div class='label'>Password:</div>
          <div class='inputWpr'><input size="16" type="password" class="password" placeholder="Password" /></div>
        </div>
        <br><br>
        <div class='btn submitBtn'>Go</div>
    </div>
    <hr/>
    <div class='results_area'>
    </div>
  </div>
  </div>
</body>
</html>